/* NutritionistPage.css */
/* NutritionistPage.css */
/* NutritionistPage.css */
/* NutritionistPage.css */
.nutritionist-page {
    background: linear-gradient(135deg, #680d47 0%, #356d7d 30%, #2a8d21 40%, #3accc0 60%, #e3522a 70%, #ff9a9e 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
  }

  
  .content-container {
    text-align: center;
    background: 
    rgba(255, 255, 255, 0.85);
    padding: 100px;
    border-radius: 25px;
    box-shadow: 0px 20px 30px rgba(41, 34, 92, 0.2);
  }
  
  .welcome-heading {
    color: #333333; /* Darker color for better contrast */
    margin-bottom: 25px;
    font-size: 2.5rem;
  }
  
  .logo-image {
    width: 200px;
    height: auto;
    margin-bottom: 25px;
    transition: transform 0.3s ease;
  }
  
  .logo-image:hover {
    transform: scale(1.15);
  }
  
  .description {
    font-size: 1.2rem;
    color: #555555; /* Darker color for readability */
    margin-bottom: 35px;
  }
  
  .button-container {
    display: flex;
    gap: 20px;
  }
  
  /* Sign-in and Sign-up Button Styling */
.sign-in-button,
.sign-up-button {
  background-color: #4a90e2; /* Change this to your desired color */
  color: white;
  padding: 12px 25px;
  font-size: 1rem;
  border-radius: 12px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.sign-in-button:hover,
.sign-up-button:hover {
  background-color: #357abd; /* Change this to the hover color you want */
  transform: translateY(-3px);
}

  